<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>
<body>
    <p>Hallo {{post.author}}!</p>
    <p>Your blog list:</p>
    {% for post in posts %}
        <ul> 
            <li>title:{{post}}</li>
        </ul>
    {% endfor %}
    <p>Followers:</p>


    <!-- {% for follow in followers %}
        <ul> 
            <li><a href="{% url 'userpage' follow.pk %}"> {{follow}} </a></li>
            {% for post in follow.post_set.all %}
                {{post.title}} 
            {% endfor %}
        </ul>
    {% endfor %} -->


    {% for follow in foll %}
        <ul> 
            <li><a href="{% url 'userpage' follow.pk %}"> {{follow}} </a></li>
            {% for post in follow.posts.all %}
                {{post.title}} 
            {% endfor %}
        </ul>
    {% endfor %}






</body>
</html>